@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen{
  height: 4rem;
  margin-bottom: 1rem;
  
  border:1px solid black;
  font-family: 'Bebas Neue', sans-serif;
  max-width:16rem;
  align-items: center;
}



.smallScreen{
  height: 4rem;
  margin-bottom: 1rem;
  border:1px solid black;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  max-width:16rem;
}

.wrapper{
  background-color: white;
  width:20rem;
  padding:2rem;
  margin-top: 4rem;
  border-radius:1rem ;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
}

.buttonBox{
  display:grid;
  grid-template-columns: repeat(4, 1fr) ;
  gap:.5rem}

.button{
  background: rgb(219, 234, 240) ;
  height:3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:black;
  border:none;
  font-size: 1.5rem;
}

.button:hover{
  border:2px solid black;
}

.equals{
  background-color: rgb(73, 200, 73);
  grid-column:3/5
}

.opt{
  background-color: orange;
}